<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>WIISPOT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="img/minilogo.png">
</head>
<body style="text-align: center;">
    <h2 style="color: #3eb1be; margin-top: 80px;">Geschafft!</h2>
    <img src="/img/okay.png" alt="Okay" style="margin: auto; margin-top: 40px; margin-bottom: 30px;">
    <h4>Die Registrierung ist abgeschlossen. Klicke auf Weiter, damit du auf die Startseite gelangst.</h4>

    <footer>
        <button class="accountButton" id="loginButton" style="width: 90%; margin-bottom: 5%; color: #3eb1be; background: none;" onclick="window.location = '/home'">Weiter</button>  
    </footer>
</body>
</html>